.main-nav nav ul li {
    display: inline-block;
    margin: 0 4px;
  }
  
  body {
    margin: 0%;
  }
  
  .main-nav nav ul {
    width: 100%;
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  ul {
    list-style: none;
  }
  
  .aSearch {
    position: relative;
    flex-grow: 0.5;
  }
  
  .aSearch i {
    position: absolute;
    color: black;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
  }
  
  #asearch {
    width: 100%;
    /* max-width: 500px; */
    height: 3em;
    border-radius: 5px;
  }
  
  .main-nav-1 {
    background-color: #131921;
    color: white;
  }
  
  .main-nav-2 nav ul {
    background-color: #232f3e;
    color: white;
    height: 2em;
  }
  
  .main-logo img {
    width: 170px;
  }
  
  .container {
    display: flex;
    width: 100%;
  }
  
  .sidebar {
    border-right: 1px solid grey;
    padding: 10px;
    flex-shrink: 0.25;
  }
  
  .main-products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  @media only screen and (max-width: 600px) {
    .sidebar {
      display: none;
    }
    .product {
      width: 35%;
    }
  }
  /* Large devices (laptops/desktops, 600px and up) */
  @media only screen and (min-width: 600px) {
    .product {
      min-width: 300px;
      width: 25%;
    }
  }
  
  .product {
    /* box-sizing: border-box; */
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px;
  }
  
  .pro-img img {
    width: 100%;
  }
  
  .pro-des {
    color: #007185;
  }
  
  .pro-des:hover {
    color: #c8511f;
  }
  
  .pro-rate {
    font-size: smaller;
  }
  
  .ca-star,
  .ca-star-half-stroke {
    color: #ffa41c;
    font-size: small;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #e68c37;
  }
  .ca-indian-rupee-sign {
    font-size: smaller;
  }
  